<tr>
  <td><%= image_tag set_avatar(user), class: "users-avatar" %></td>
  <td class="td-user"><%= user.name %></td>
  <td class="td-user"><%= user.email %></td>
  <td class="td-user"><%= user.phone_number %></td>
  <td class="td-user"><%= user.address %></td>
  <td class="td-user user-text-trans"><%= get_role_user user %></td>
  <td class="td-user">
    <%= link_to t(".show"), user, class: "btn btn-primary" %>
  </td>
  <td class="td-user">
    <%= link_to t(".delete"), user, method: :delete, data: {confirm: t("sure?")},
      class: "btn btn-danger" %>
  </td>
</tr>
