<div class="subject-detail">
  <div class="subject__container pull-left">
    <div class="subject__cover">
      <%= image_tag set_object_img(@subject.cover.url, Settings.subject.default_cover),
        class: "subject__img img-rounded" %>
    </div>
    <div class="subject__info">
      <div class="subject__name">
        <h3 class="subject__sub-name"><%= @subject.name %></h3>
        <p class="subject__duration">
          <%= @subject.time_training %> <small><%= t "form.hours" %></small>
        </p>
      </div>
      <p class="subject__joined-date"><%= format_date @subject.created_at %></p>
      <p class="subject__description">
        <span><%= t "form.description" %></span>: <%= @subject.description %>
      </p>
    </div>
    <div class="subject__content">
      <div class="panel panel-success">
        <div class="panel-heading subject__heading-title"><%= t "form.content" %></div>
        <div class="panel-body">
          <p class="subject__body-content"><%= @subject.content %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="subject__tasks pull-right">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="pull-left">
          Tasks <span class="badge badge__tasks-count"><%= @subject.tasks.count %></span>
        </div>
        <div class="pull-right"><a href="" data-toggle="modal" data-target="#modal__add-task">
          <%= image_tag "add_task", class: "panel__add-task" %>
        </a></div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="list-group subject__tasks-list">
          <%= render partial: "common/task_of_subject", collection: @tasks, as: :task %>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="modal fade" id="modal__add-task">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Task</h4>
      </div>
      <%= render "tasks/task_form" %>
    </div>
  </div>
</div>
