<div class="row detail-course">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#subjects">
      <%= t ".subjects" %>
      <span class="badge nav__course-subjects-count js-nav__course-subjects-count">
        <%= @course.subjects.count %>
      </span>
    </a></li>
    <li><a data-toggle="tab" href="#member">
      <%= t ".member" %>
      <span class="badge nav__course-users-count js-nav__course-users-count">
        <%= @course.users.count %>
      </span>
    </a></li>
    <li><a data-toggle="tab" href="#tasks">
      <%= t ".tasks" %>
    </a></li>
  </ul>
  <div class="tab-content">
    <% if logged_in? %>
      <div class="tab-pane fade in active" id="subjects">
        <% if current_user.supervisor? %>
          <div class="subject-action">
            <%= link_to t(".add"), subject_remaining_course_path(@course),
              class: "btn btn-info link-add-subject", method: :get,
              data: {toggle: "modal", target: "#modal-add-subject"}, remote: true %>
          </div>
          <div class="clearfix"></div>
        <% end %>
        <div class="subjects-of-course js-subjects-of-course">
          <%= render partial: "common/subject_of_course",
            collection: @subjects, as: :subject %>
        </div>
      </div>
      <div class="tab-pane fade in" id="member">
        <% if current_user.supervisor? %>
          <div class="member-action">
            <%= link_to t(".add"), member_remaining_course_path(@course),
              class: "btn btn-info link-add-member", method: :get,
              data: {toggle: "modal", target: "#modal-add-member"}, remote: true %>
            <%= link_to t("btn.delete"), select_users_to_be_deleted_course_path(@course),
              class: "btn btn-danger pull-right", method: :get,
              data: {toggle: "modal", target: "#modal-delete-more-member"}, remote: true %>
          </div>
          <div class="clearfix"></div>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <%= t "roles.supervisor" %>
                <span class="badge supervisors-count js-supervisors-count">
                  <%= @supervisors.size %>
                </span>
              </div>
              <div class="panel-body panel-supervisors js-panel-supervisors">
                <%= render partial: "common/user_of_course",
                  collection: @supervisors, as: :user %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <%= t "roles.trainee" %>
                <span class="badge trainees-count js-trainees-count">
                  <%= @trainees.size %>
                </span>
              </div>
              <div class="panel-body panel-trainees js-panel-trainees">
                <%= render partial: "common/user_of_course",
                  collection: @trainees, as: :user %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade in" id="tasks"></div>
    <% else %>
      <div class="flash-danger">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
        <%= t "login_first" %>
      </div>
    <% end %>
    <div class="modal fade" id="modal-add-member"></div>
    <div class="modal fade" id="modal-add-subject"></div>
    <div class="modal fade" id="modal-delete-more-member"></div>
  </div>
</div>

<%= javascript_pack_tag "course" %>
