<div class="row detail-course">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#subjects">
      <%= t ".subjects" %> <span class="badge"><%= @course.subjects.count %></span>
    </a></li>
    <li><a data-toggle="tab" href="#member">
      <%= t ".member" %>
    </a></li>
    <li><a data-toggle="tab" href="#tasks">
      <%= t ".tasks" %>
    </a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="subjects">
      <% @subjects.each do |subject| %>
        <div class="item-subject">
          <div class="row">
            <div class="col-md-2">
              <%= image_tag "default_course_cover.png", class: "subject_cover" %>
            </div>
            <div class="col-md-9">
              <div class="content-subject">
                <h4><%= link_to subject.name, "#" %></h4>
                <p>
                  <span class="italic-text"><%= t "form.description" %>:</span>
                  <%= subject.description %>
                </p>
                <p>
                  <span class="italic-text"><%= t "form.content" %>:</span>
                  <%= subject.content %>
                </p>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade in" id="member"></div>
    <div class="tab-pane fade in" id="tasks"></div>
  </div>
</div>
