<div class="item-subject subject-<%= subject.id %>">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag set_object_img(subject.cover.url, Settings.subject.default_cover),
        class: "subject_cover" %>
    </div>
    <div class="col-md-9">
      <div class="content-subject">
        <h4>
          <%= link_to subject.name, subject %>
          <span class="subject-time-training">
            (<%= subject.time_training %> <%= t "form.hours" %>)
          </span>
        </h4>
        <p>
          <span class="italic-text"><%= t "form.description" %>:</span>
          <%= subject.description %>
        </p>
        <p class="subject-content hidden">
          <span class="italic-text"><%= t "form.content" %>:</span>
          <%= subject.content %>
        </p>
        <p class="js-show-content">
          <button type="button" class="btn btn-sm btn-info js-show-content__link">
            <%= t ".show_more" %>
          </button>
        </p>
      </div>
    </div>
    <div class="col-md-1">
      <% if current_user&.supervisor? %>
        <div class="dropdown">
          <p class="setting dropdown-toggle" data-toggle="dropdown"></p>
          <ul class="dropdown-menu">
            <li><%= link_to t("form.view"), subject %></li>
            <li><%= link_to t("form.remove"),
              delete_subject_course_path(id: @course.id, subject_id: subject.id),
              method: :get, data: {confirm: t("sure?")}, remote: true %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
