<div class="col-md-6 list-group-item user-card js-course__user-<%= user.id %>">
  <div class="row media">
    <span class="label label-danger pull-right"><%= user.status %></span>
    <div class="clearfix"></div>
    <div class="media-container media__content">
      <div class="media-heading">
        <%= image_tag set_avatar(user), class: "media-object-user" %>
      </div>
      <div class="media-body">
        <h4 class="media-username"><%= user.name %></h4>
        <p><%= user.email %></p>
      </div>
    </div>
    <div class="media__remove">
      <%= link_to delete_one_member_course_path(id: @course.id, user_id: user.id),
        method: :get, data: {confirm: t("sure?")}, remote: true do %>
        <span class="btn btn-xs btn-danger glyphicon glyphicon-trash pull-right"></span>
      <% end %>
    </div>
  </div>
</div>