<div class="profile-sidebar">
  <div class="profile-userpicture">
  <%= image_tag(set_avatar(current_user), alt: t("user_picture"),
    class: "profile-useravatar img-responsive") %>
  </div>
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
    <% if logged_in? %>
      <%= link_to current_user.name, show_profile_user_path(current_user),
        data: {toggle: "modal"}, remote: true %>
    <% end %>
    </div>
    <div class="profile-usertitle-job"></div>
  </div>
  <div class="profile-usermenu">
    <ul class="nav">
      <li class="active">
        <%= link_to t(".overview", icon:
          content_tag(:i, "", class: "glyphicon glyphicon-home")).html_safe, "#" %>
      </li>
      <li>
        <%= link_to t(".courses", icon:
          content_tag(:i, "", class: "fa fa-list-alt")).html_safe, courses_path %>
      </li>
      <li>
        <%= link_to t(".subjects", icon:
          content_tag(:i, "", class: "fa fa-address-book")).html_safe, "#" %>
      </li>
      <li>
        <%= link_to t(".tasks", icon:
          content_tag(:i, "", class: "glyphicon glyphicon-ok")).html_safe, "#" %>
      </li>
      <li>
        <%= link_to t(".users", icon:
          content_tag(:i, "", class: "glyphicon glyphicon-user")).html_safe, "#" %>
      </li>
    </ul>
  </div>
</div>
